<h2>My Profile</h2>

<a href="/dashboard">⬅ Back to Dashboard</a><br>
<a href="/logout">Logout</a><br>
<a href="/delete_account" style="color:red;">🗑 Delete Account</a>

<hr>

{% for m in get_flashed_messages() %}
<p style="color:green">{{m}}</p>
{% endfor %}

<form method="POST">

    Username:<br>
    <input type="text" value="{{ user.username }}" readonly><br><br>

    Email:<br>
    <input type="email" name="email" value="{{ user.email }}" required><br><br>

    Phone:<br>
    <input type="text" name="phone" value="{{ user.phone }}" required><br><br>

    <button type="submit">Update Profile</button>

</form>